# project requirements
Cython
matplotlib
numpy
pandas
Pillow
git+https://github.com/ashnair1/cocoapi.git#egg=pycocotools&subdirectory=PythonAPI
seaborn
scikit-image==0.14.2
tqdm

# packaging
setuptools
wheel

# testing
requests

# Debugging
ptvsd
